.sidebar {
  height: calc(100vh - 90px);
  position: relative;
  z-index: 100;
  width: 240px;
  background-color: rgba(0, 0, 0, 0.05);
  // padding-top: 70px;
  padding-bottom: 54px;
  .sidebar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
