.sidebar {
  height: calc(100vh - 90px);
  position: relative;
  z-index: 100;
  width: 240px;
  background-color: rgba(0, 0, 0, 0.05);
  padding-top: 70px;
  // padding-bottom: 54px;
  .sidebar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .navbar {
    width: 100%;
    .navbar-brand {
      width: 240px;
      height: 70px;
      position: fixed;
      top: 0;
      padding: 0 25px 0 28px;
      display: flex;
      align-items: center;
      > button {
        display: inline-block;
        line-height: 0;
        border-radius: 0;
      }
      .btn {
        font-size: 14px;
        border-radius: 999px;
        line-height: normal;
        border: 0;
        display: inline-block;
        font-weight: 400;
        text-transform: none;
        text-align: center;
        cursor: pointer;
        position: relative;
        &:hover {
          -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
        }
        .zmp3-logo {
          width: 120px;
          height: 40px;
          display: inline-block;
          background: url('../../Images/Logo/logo-light.svg') 50% / contain
            no-repeat;
        }
      }
    }
  }
  .navbar-main {
    position: relative;
    margin-bottom: 15px;
    .navbar-item {
      font-weight: 700;
      color: #32323d;
      border-left: 3px solid transparent;
      > a {
        display: flex;
        align-items: center;
        font-size: 13px;
        font-weight: 700;
        padding: 7px 25px;
      }
    }
  }
}

.icon-sidebar {
  width: 24px;
  height: 24px;
  font-size: 24px;
  margin-right: 10px;
  border-radius: 4px;
  flex-shrink: 0;
  line-height: 66%;
  display: inline-block;

  &::before {
    font-style: normal !important;
    font-weight: 400 !important;
    font-feature-settings: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak-as: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
}

.icon-personal {
  background-image: url('../../Images/Icon/my-song.svg');
}

.sidebar-divide {
  position: relative;
  height: 1px;
  &::after {
    content: '';
    border-top: 1px solid;
    position: absolute;
    left: 25px;
    right: 25px;
    top: 0;
  }
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  word-break: normal;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

@media all and (max-width: 768px) {
  .sidebar {
    width: 60px;
  }
  .navbar-brand {
    width: 60px !important;
    padding: 10px !important;
  }
  .zmp3-logo {
    width: 40px !important;
    height: 40px !important;
    background: url('../../Images/Logo/logo600.png') 50% / contain no-repeat !important;
  }
  .navbar-item > a {
    padding: 15px !important;
    > span {
      display: none;
    }
  }
}
