div,
p {
  word-break: break-word;
}
// .zm-section {

// }
.now-playing-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 70px;
  z-index: 100;
  .player-controls {
    position: fixed;
    z-index: 2;
    width: 100%;
    bottom: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(208,204,197);
    .level {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .player-controls__container {
      height: 90px;
      min-width: 768px;
      padding: 0 20px;
      background-color: var(--player-bg);
      border-top: 1px solid var(--border-player);
    }
    .theme-bg-image .player-controls__container {
      background-size: 1920px 100%;
      background-position: 50%;
      background-repeat: repeat-x;
    }
  }
}
