.header {
  display: flex;
  align-items: center;
  position: fixed;
  left: 240px;
  top: 0;
  right: 0;
  height: 70px;
  padding: 0 30px;
  z-index: 99;
  min-width: 660px;
  .level {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .level-left {
    display: flex;
    flex-grow: 1 !important;
    margin-right: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .level-right {
    display: flex;
    margin-top: 0;
    align-items: center;
    justify-content: flex-end;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    .setting-item {
      position: relative;
      margin-right: 10px;
      cursor: pointer;
      > .zm-btn {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 999px;
      }
    }
  }
}

.icon-level-right {
  width: 24px;
  height: 24px;
  color: #495057;
  font-size: 20px;
}

.settings {
  background-image: url('../../Images/Icon/settings.svg');
  background-repeat: no-repeat;
}
.themes {
  background-image: url('../../Images/Icon/layout.svg');
  background-repeat: no-repeat;
}

.is-sticky {
  background-color: #e7dfdd;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
}

.btn-header {
  display: flex;
  font-size: 14px;
  border-radius: 999px;
  line-height: normal;
  border: 0;
  display: inline-block;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.3;
  cursor: none;
}

.icon-header {
  line-height: 66%;
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 24px;
  margin-right: 10px;
  border-radius: 4px;
  flex-shrink: 0;
  line-height: 66%;
  display: inline-block;
}

.ic-back {
  font-size: 24px;
  margin-right: 20px;
  background-image: url('../../Images/Icon/left-arrow.svg');
}

.ic-forward {
  font-size: 24px;
  margin-right: 20px;
  background-image: url('../../Images/Icon/right.svg');
}

@media all and (max-width: 768px) {
  .header {
    left: 60px;
    min-width: unset !important;
  }
  .btn-header {
    display: none;
  }
  .level-right {
    display: none !important;
  }
}
