.app-wrapper {
  position: relative;
  // background-image: url('../Images/Background/iu.jpg');
  background-size: 1920px auto;
  background-repeat: repeat;
  display: flex;
  height: 100vh;
  min-width: 768px;
}
